doctype html
html(lang='en')
  head
    title Samih Ibrahim Resume
    meta(charset='UTF-8')
    link(href='https://fonts.googleapis.com/css?family=Khula:400', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")

  body
    .header
    .resume-container
      .eyecatch.u-doc-container
        h1.eyecatch-title Samih Ibrahim
        p.eyecatch-subtitle Backend Software Engineer
        p.eyecatch-description
          | Efficient and skilled in web application creation with a diverse knowledge of web technologies.
          | I have been a web engineer for 6 years
          | and garnered a multitude of experiences in the field of Server-side and Front-end programming, Front-end building,
          | GraphQL, TypeScript, Testing, SQL tuning and others.
          | I am also familiar with Infrastructure & DevOps tools such as Heroku, Jenkins and Docker.
      .contact
        .row
          .three.columns.contact-each-first
            p.contact-content English, Arabic
            p.contact-heading Languages
          .three.columns.contact-each-second
            p.contact-content +2499-1235-3388
            p.contact-heading Phone Number
          .three.columns.contact-each-third
            p.contact-content.contact-content-email samihomer3(at)gmail.com
            p.contact-heading Email
          .three.columns.contact-each-last
            p.contact-content Khartoum, Sudan
            p.contact-heading Location

      .row.u-doc-container
        .six.columns

          h2.u-section-title Work Experience
          .work-each
            p.u-each-title
              span.u-each-organization Self Employed
              span.u-each-period 2018.04 ~ Current
            p.u-each-subtitle President
            p.work-each-description
              | I solve various kinds of technical problems as an independent consultant.
              ul
                li AWS management (EC2, RDS, ElastiCache, ECS, Lambda, CloudFront, CloudWatch, etc.)
                li React + Almin
                li Improve React Native app working flow using Fastlane
                li Create React Native tutorial for Programming education company
                li Consult business strategy for startups

          .work-each
            p.u-each-title
              span.u-each-organization Traimmu.inc
              span.u-each-period 2017.03 ~ 2018.04
            p.u-each-subtitle Lead Engineer
            p.work-each-description
              | I worked on broadening the scale of our web application (https://www.in-fra.jp).
              | When I first joined the company, the application was a little outdated in both infrastructure and code,
              | so our major task is refactoring the program.
              | I've decreased the application's TTFB by 2000ms.
              ul
                li Refactor Laravel source code
                li Create iOS App with React Native
                li Change the infrastructure from Heroku to AWS EC2
                li Improve deployment process using Ansible on CircleCI
                li Implement easy setup development environment Docker
                li Visualize business KPI with Metabase
                li SQL tuning

          .work-each
            p.u-each-title
              span.u-each-organization  Quick CO., LTD.
              span.u-each-period 2015.04 ~ 2017.02
            p.u-each-subtitle Sales (2015.04 ~ 09), Engineer (2015.10 ~ 2017.02)
            p.work-each-description
              | I worked in sales first half a year.
              | In the sales department, I made appointments with new customers, and secured contracts with them.
              | Then I moved to the engineering department, where I conducted maintenance on internal systems.
              ul
                li Sale of Human Resource solutions
                li Fix bugs and prevent system degradation

        .six.columns

          .education
            h2.u-section-title Education
            .education-each
              span.u-each-organization University of Nottingham (UK)
              span.u-each-period 2010.08 ~ 2011.08
            p.u-each-subtitle MCS - Advanced Computing Science
            ul
              li Advanced Datastructures & Algorithms
              li Distributed Systems
            .education-each
              span.u-each-organization University of Khartoum (Sudan)
              span.u-each-period 2003.12 ~ 2008.08
            p.u-each-subtitle BSC - Faculity of Engineering
            ul
              li Programming & Data Structures
              li Networks & Communications

          .education
            h2.u-section-title OSS Contributions
            ul
              li
                span.oss-title typed-graphqlify
                span.oss-url https://github.com/acro5piano/typed-graphqlify
                p.oss-description - Gained 347 stars
                p.oss-description - Create new concept, TypeScript -> GraphQL tool
              li
                span.oss-title docker-run.com
                span.oss-url https://github.com/acro5piano/docker-run.com
                p.oss-description - Gained 50 stars
                p.oss-description - 29points in Hacker News
                p.oss-description    &nbsp; https://news.ycombinator.com/item?id=18929040
              li
                span.oss-title Fastlane
                span.oss-url https://github.com/fastlane/fastlane
                p.oss-description - Fix a bug in #13526

          .education
            h2.u-section-title Development Skills
            ul
              li Java (7 years)
              li Android (5 years)
              li PHP (4 years)
              li Laravel (4 years)
              li Docker (2 years)
              li SQL (7 years)

          .education
            h2.u-section-title Profile Links
            ul
              li https://github.com/samihibrahim
              li https://www.linkedin.com/in/samih-ibrahim-56784b2a/
              li https://samihibrahim.github.io/
              li https://dev.to/acro5piano
    .footer
