doctype html
html(lang='en')
  head
    title Samih Ibrahim Resume
    meta(charset='UTF-8')
    link(href='https://fonts.googleapis.com/css?family=Khula:400', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")

  body
    .header
    .resume-container
      .eyecatch.u-doc-container
        h1.eyecatch-title Samih Ibrahim
        p.eyecatch-subtitle Backend Developer
        p.eyecatch-description
          | Experienced developer with a demonstrated history of producing production-grade scalable software. Skilled in Java,
          | Javascript and all things in-between. Experienced with Spring, Hibernate & Apache Camel.
          | Efficient and skilled in networking technologies, systems administration and the design of both.
      .contact
        .row
          .three.columns.contact-each-first
            p.contact-content English, Arabic
            p.contact-heading Languages
          .three.columns.contact-each-second
            p.contact-content +1 647 551 6732
            p.contact-heading Phone Number
          .three.columns.contact-each-third
            p.contact-content.contact-content-email samihomer3@hotmail.com
            p.contact-heading Email
          .three.columns.contact-each-last
            p.contact-content Ontario, Canada
            p.contact-heading Location

      .row.u-doc-container
        .six.columns

          h2.u-section-title Work Experience
          .work-each
            p.u-each-title
              span.u-each-organization Syber Expertise Co. LTD
              span.u-each-period 2015.11 ~ 2019.07
            p.u-each-subtitle Software Manager
            p.work-each-description
              | I had the privilege of joining Syber while still a small startup. I was managing a small
              | team of 3 developers working on a single SAAS product (SyberPay). Now after less than four
              | years, Syber has 15 strong developers working with a product portfolio containing our original
              | SAAS offering in addition to personal banking services, mobile application development and the
              | largest eCommerce portal in the country.
              ul
                li Plan, coordinate and conduct multiple complex software engineering activities from requirement gathering and analysis to final delivery and handover.
                li Design, implement and operate the infrastructure required to run our systems. This includes the entire stack from the bare hardware, hypervisor, OS, security & services.
                li Create and participate in software planning and estimating, status monitoring and reporting.
                li Select and deploy the systems required to set up the CI pipeline.
                li Devise new approaches, apply existing criteria in new ways and draw conclusions from comparative situations.
                li Software design, prototyping, and troubleshooting.
                li Writing of the actual code, unit & integration tests.
          .work-each
            p.u-each-title
              span.u-each-organization Ericsson
              span.u-each-period 2014.10 ~ 2015.10
            p.u-each-subtitle Experienced Integration Engineer
            p.work-each-description
              | I joined Ericsson as an integration engineer for their BSS (Business Support Systems)
              | section. I specialized in Ericsson's Mediation solution; the solution responsible for
              | aggregating and processing all the data from the other nodes and passing it along for the
              | billing and charging. I was based in Sudan but worked with clients all over the Northeastern
              | Africa region including Ethiopia, Eygpt and South Sudan.
              ul
                li Analyze, prepare, implement and verify the configuration and integration of the EMM (Ericsson Multi Mediation) nodes on various platforms including Solaris and Red Hat.
                li Write customization code for EMM to fulfill customers' needs using Ericsson's specialized DSL and/or plain java.
                li EMM installation and maintenance including the servers, OS, networking, SAN storage & tapes for backup.
                li Support & troubleshoot customers' issues related to EMM nodes or the data flowing through it.
                li Provide advanced technical solutions/support for each client’s BSS environment.
                li Scope, define & design solution offerings; driving end-to-end technical solutions
                li Analyze customer technology, define business requirements & participate in risk analysis
          .education
            h2.u-section-title Profile Links
            ul
              li https://github.com/samihibrahim
              li https://www.linkedin.com/in/samih-ibrahim-56784b2a/
              li https://samihibrahim.github.io/

        .six.columns
          .work-each
            p.u-each-title
              span.u-each-organization Vision Valley
              span.u-each-period 2013.01 ~ 2014.09
            p.u-each-subtitle Network Engineer
            p.work-each-description
              | Vision Valley is a fast-growing company focused on business IT consulting and system integration.
              | It is also the largest WiMax based ISP in Sudan. I joined as a network engineer in supporting
              | Vision Valley’s ISP business in both adding new customers and retaining current ones.
              ul
                li Provide advanced technical solutions & support for each client’s switching and routing needs working with Cisco, Huawei and Juniper systems.
                li Provide pre-sales and post-sales technical support for IT-related projects
                li Installation and Configuration of VMware ESX/ESXi hosts and manager of Virtual machines using vCenter.
                li Installation and Configuration of each client’s security infrastructure working with different nodes (e.g. firewalls, IPSs, IDSs, SSL VPNs) from different vendors (e.g. Cisco, Juniper, Stonesoft, Fortinet, GateProtect).
                li Maintenance and optimization of the corporate Network & Systems.
                li Providing support for Branch offices Engineers

          .work-each
            p.u-each-title
              span.u-each-organization Electronic Banking Services (EBS)
              span.u-each-period 2012.01 ~ 2012.12
            p.u-each-subtitle Application Support & Developer
            p.work-each-description
              | EBS is the technical arm for the Central Bank of Sudan (CBoS) and is
              | responsible for operating the country's national integrated e-payment network.
              ul
                li Assist in completing the migration of the national payment network from the old national switch to the new one.
                li Assist in planning and executing the national switch migration plan.
                li Develop and debug integration applications for the payment network.
                li Provide support in troubleshooting network problems and emergencies.
          .education
            h2.u-section-title Education
            .education-each
              span.u-each-organization University of Nottingham (UK)
              span.u-each-period 2010.08 ~ 2011.08
            p.u-each-subtitle MCS - Advanced Computing Science
            .education-each
              span.u-each-organization University of Khartoum (Sudan)
              span.u-each-period 2003.12 ~ 2008.08
            p.u-each-subtitle BSC - Faculity of Engineering

          .education
            h2.u-section-title Certifications
            .education-each
              span.u-each-organization ITIL Foundation Level
              span.u-each-period 2013.12
            p.u-each-subtitle APMG International

          .education
            h2.u-section-title Development Skills
            .education-each
              .six.columns
                ul
                  li Java (Spring & Hibernate)
                  li Android
                  li PHP (Laravel)
                  li Docker
                  li Database (MySQL)
                  li Git
            .education-each
              .six.columns
                ul
                  li Javascript
                  li TypeScript
                  li Angular
                  li Continous Integration (Jenkins)
                  li Web & Application Hosting
                  li Apache Camel
    .footer
